/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(250, 250, 250);
}
.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 0 15;
}

.container-tight {
  max-width: 600px;
}

.mat-button-base {
  font-size: 17px;
}

.mat-button-base.icon-margin .mat-icon {
  margin-right: 10px;
}
