.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.dashboard-content {
  flex-grow: 1;
  padding: 100px 0;
}

.dashboard-actions {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}
